
*{
  box-sizing: border-box;
  outline:none;
}
body{
  color: #555;
  margin: 0;
  font-family: calibri, sans-serif;
}
a{
  text-decoration: none;
}
/* header */
#header{
  background-color: #1abc9c;
  height: 150px;
  line-height: 150px
}

#header-title{
  font-size: 20px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: 0.4s;
  background: none;
  border: none;
}
#header-title:hover{
  color: #222;

}
#header-nav{
  display: block;
  float: right;
}
#header-nav li{
  display: inline;
}
#header a{
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: 0.4s;
}
#header a:hover{
  color: #222;
}
.about-button{
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: 0.4s;
  border: none;
  background: none;
}
.about-button:hover{
  color: #222;
}

.container{
  padding: 0 150px;
  margin: 0 auto;
}
.post-container:nth-child(even){
  background-color: #f2f2f2;
}

/* end of header */


/*footer*/
#footer{
 background-color: #2f2f2f;
 padding: 50px 0;
}
.column{
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
#footer h4{
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p{
  color: #fff;
}
#footer a{
  color: #1abc9c;
  text-decoration: none;
  transition: 0.4s;
}
#footer a:hover{
  color: #f6a623;
}
/* end of footer */

/* content */

.post-author img, .about-author img{
  width: 140px;
  height: 140px;
  border-radius: 70px;
  vertical-align: middle;
}

.post-author span{
  margin-left:16px;
}

.post-date{
  color: #d2d2d2;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, h2 , h3 ,h4{
  color: #333;
}
p{
  line-height: 1.5;
}
.post, .about{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 0;
}
@media(max-width: 910px){
.post, .about{
  padding: 60px;
}
a:active, #header-title:active, .about-button:active{
  transform:scale(0.96);
}
.container{
  padding: 0 40px 0 40px;
}

#header-title, #header-nav{
  font-size: 4vw;
}

.about-button{
  font-size: 3.5vw;
}


}
