/******base styles********/

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	scrollbar-width: none; /*******firefox********/
}
html {
  -ms-overflow-style:none; /********IE-9*********/
}

::-webkit-scrollbar { display: none; } /********chrome opera*******/

body{
	font-family: monospace;
	

}
#mainTitle{
	position:relative;
	width: 90%;
	margin: 30px;
	margin-left: auto;
	margin-right: auto;
}

h1{
	text-align: center;
	font-size: 175%;
}

#container{
	width:100%;

}

h2{
	float: right;
	text-align:center;
	font-size:175%;
	border: 1px solid black;
	width: 150px;
	margin-bottom: 5px;

}
.t1{
	background-color: #ea907a;
}
.t2{
	background-color: #127681;
	color: #F7F5DD;
}
.t3{
	background-color: #fbc687;
}
p{
	font-size: 125%;
	width:90%;
	margin-left: auto;
	margin-right: auto;
	height:150px;
	overflow:auto;
}
#menu1,#menu2,#menu3{
	background-color: #F7F5DD;
}
@media(min-width: 992px){

	.menu_c{
		position:relative;
		float:left;
		width:33.33%;
	}
	#menu1, #menu2, #menu3{
		border: 1px solid black;
		margin-left: 15px;
	}
	#menu3{
		margin-right:15px;
	}

}

@media(min-width: 768px) and (max-width: 991px){
	.menu_m1, .menu_m2{
		position:relative;
		float:left;
		width:50%;
	}
	.menu_m3{
		position: relative;
		float: left;
		width:100%;
	}
	#menu1, #menu2, #menu3{
		border: 1px solid black;
	}
	#menu1{
		margin-left: 15px;
	}
	#menu2{
		margin: 0 15px 0 15px;
	}
	#menu3{
		margin-right:15px;
		margin: 15px;
	}

}

@media (max-width: 767px){
	.menu_c{
		width:100%;
	}
	#menu1,#menu2,#menu3{
		width: 90%;
		border: 1px solid black;
		margin-left:auto;
		margin-right:auto;
		margin-bottom: 15px;
	}
}