body{
	font-family: "Comic Sans MS", sans-serif;
	font-size: 16px;
}
.outer{
	width: 100%;
	height: 100%;
}
/*  header   */
.container{
	padding: 0;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
#header-nav{
	background-color: #706c61;
	border: 0;
	border-radius: 0;
}
.navbar-brand{
	padding: 0;
	height: 80px;
	margin-left: 0px !important;
  	line-height: .75;
  	margin-top: 10px;
  	margin-bottom: 10px;
}

.navbar-brand h1{
	color: #f7f7f7;
	font-weight: bold;
}
.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:visited{
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid #f7f7f7;

}
.navbar-header .icon-bar{
	margin-left: auto;
	margin-right: auto;
}
.navbar-header button.navbar-toggle{
margin-top: 30px;
  height: 50px;
  width: 50px;
}

.navbar-header button.navbar-toggle:focus, .navbar-header button.navbar-toggle:active{
	background-color:inherit;
}

#nav-list{
	margin-top: 10px;

}

#nav-list a{
	text-align: center;
	color: #f7f7f7;
	font-size: 1.5em;
	transition: 0.2s;
}
#nav-list a:hover{
  background: #323232;
  color: #fdcb9e;
}
#nav-list a:focus, #nav-list a:visited{
  outline: none;
  text-decoration: none;
}
hr{
	padding: 0;
	margin: 0;
	border: 1px solid #bac964;
}
/* end of header */
/* main Content */

.menu-title{
	font-size: 1.8em;
}

.menu-item{
	background-color: #393e46;
	height: 850px;
	margin-bottom: 20px;
	border-radius: 5px; 
	color: #f7f7f7;
}

.menu-item h2{
	font-size: 1.5em;
}
.menu-item p{
	font-size: 18px;
}

.menu-item a{
	color: #fdcb9e;
	transition: 0.2s;
}

.menu-item a:hover, .menu-item a:focus, .menu-item a:visited{
	text-decoration: none;
}
.menu-item a:hover{
	text-shadow: 0 0 10px #fdcb9e;
}
/***********************************desktop/tablet************************************/
@media (min-width: 768px) and (max-width: 1199px){
	.menu-item p{
	font-size: 16px;
}
}

/***********************************mobile****************************************/
@media (min-width: 450px) and (max-width: 767px){

.navbar-brand{
	margin-left: 15px !important;
}
.main-content{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.menu-item{
	height: 1150px;
}
.menu-item p{
	font-size: 14px;
}

}

/***********************************mobile****************************************/
@media (max-width: 449px){
	.navbar-brand{
	margin-left: 15px !important;
}

.main-content{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
	.menu-item{
	height: 1350px;
}
.menu-item p{
	font-size: 12px;
}
}